* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: url(../assets/images/bg4.jpg) no-repeat;
    /* background-position: cover; */
    /* background-size: cover; */
    /* height: 100vh; */
}

body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* background-color: #fff; */
        overflow: hidden;
    }


/* nav {
    position: relative;
}

h1 {
    position: absolute;
    left: 5vw;
}

main {
    position: relative;
}

.titre {
    position: relative;
} */

/* #bienvenue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    position: absolute;
    top: 50vh;
    left: 5vw;
} */

/* #title2 { */
    /* border: 2px solid white; */
    color: transparent;
    z-index: 2;
}

/* #title { */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8rem;
    font-weight: bold;
    position: absolute;

    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    /* -webkit-text-stroke-width: 5px; */

    stroke-width: 2px solid white;
    border: 2px solid white;
    color: transparent;
    /* object-fit: cover; */
    top: 60vh;
    left: 5vw;
    background-image: url(./images/pattern.png);

    z-index: 1;
}








.pattern-container {
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: transparent;
}

.animated-title {
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    position: relative;
    z-index: 3; /* Pour que le titre soit au-dessus */
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke: solid;
    overflow: hidden;

}

/* Pattern arrière-plan */
.pattern-container::before {
    content: '';
    position: absolute;
    top: 500px;
    left: 650px;
    width: 1000px;
    height: 200px;
    background-image: url('./images/pattern.png'); /* Remplace par le chemin de l'image */
    background-size: 100px 100px;
    background-repeat: repeat-x; /* Ajuste la taille du pattern */
    z-index: 1; /* En dessous du texte */
    animation: movePattern 5s linear infinite; /* Animation continue */
    -webkit-mask: text; /* Clipping via le texte */
    mask: text;

}

/* Animation du pattern */
@keyframes movePattern {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px); /* Ajuste selon la vitesse désirée */
    }
}